<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link rel="stylesheet" href="/css/profile.css"/>
</head>
<body>
    <div class="container">

        <div id="navigator">
            <div id="profile">
                <div id="name"><b>Ronaldo</b></div>
                <div id="following">
                    <div><b>Following</b></div>
                    <div>0</div>
                </div>
                <div id="follower">
                    <div><b>Follower</b></div>
                    <div>0</div>
                </div>
                <div id="wrapper">
                    <a class="btn">Home</a>
                    <a class="btn">Log out</a>
                </div>
            </div>
        </div>

        <div id="content">  
            <div id="left">
                <div class="title">Following</div>
                <div class="list">
                    <div>ronaldo</div>
                    <div>bale</div>
                    <div>kane</div>
                    <div>ramos</div>
                    <div>ronaldo</div>
                    <div>bale</div>
                    <div>kane</div>
                    <div>ramos</div>
                    <div>ronaldo</div>
                    <div>bale</div>
                    <div>kane</div>
                    <div>ramos</div>
                </div>
            </div>
            <div id="right">
                <div class="title">Follower</div>
                <div class="list">
                    <div>ronaldo</div>
                    <div>bale</div>
                    <div>kane</div>
                    <div>ramos</div>
                    <div>ronaldo</div>
                    <div>bale</div>
                    <div>kane</div>
                    <div>ramos</div>
                    <div>ronaldo</div>
                    <div>bale</div>
                    <div>kane</div>
                    <div>ramos</div>
                </div>
            </div>
        </div>

    </div>
</body> 